#square 
{
    width: 200px;
    height: 200px;
    background: #a29bfe;
    margin: 50px;  
    transition-timing-function: ease;
    transition-duration: 2s;
}


#square:hover
      {
		transform: rotateZ(45deg);
  		background-color: #63cdda;
  		transition-timing-function: ease-in;
  		transition-duration: 2s;
      }